/client/*.iml
/client/.gradle
/client/local.properties
/client/.idea/caches
/client/.idea/libraries
/client/.idea/modules.xml
/client/.idea/workspace.xml
/client/.idea/navEditor.xml
/client/.idea/assetWizardSettings.xml
/client/.DS_Store
/client/build
/client/captures
/client/.externalNativeBuild
/client/.cxx

#Server API ignore
/server/node_modules
client/.idea/libraries/Gradle__com_android_volley_volley_1_1_1_aar.xml
client/.idea/modules/app/Cafo.app.iml
client/.idea/workspace.xml
